AGORA_APP_ID=your_agora_app_id
AGORA_APP_CERTIFICATE=your_agora_app_certificate
SARVAM_API_KEY=your_sarvam_api_key
SARVAM_LANGUAGE=en-IN
MURF_API_KEY=your_murf_api_key
MURF_VOICE_ID=Matthew
AGENT_GREETING=Hi there! I'm Ada, your virtual assistant from Agora. How can I help?
PORT=8001
